<h1>Welcome to Bloccit</h1>
<p>This is the Home page for Bloccit</p>





<!--
<h1>Welcome to Bloccit</h1>
<p id="index-title">This is the home page of Bloccit</p>
<div class="post">Post 1 goes here.</div>
<div class="post">Post 2 goes here.</div>
<selection>I am the content in a section element.</selection>
-->